<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Please allow access to your music</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Please allow access to your calendars</string>
	<key>NSCameraUsageDescription</key>
	<string>Please allow access to your camera</string>
	<key>NSContactsUsageDescription</key>
	<string>Please allow access to your contacts</string>
    <key>NSHealthShareUsageDescription</key>
    <string>Please allow access to your health data (for writing only)</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>Please allow access to your health data (for reading only)</string>
	<key>NSHomeKitUsageDescription</key>
	<string>Please allow access to your home</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Please allow access to your location</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Please allow access to your location (when in use only)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Please allow access to your microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>Please allow access to your motion data</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please allow access to your photos (for adding only)</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow access to your photos</string>
	<key>NSRemindersUsageDescription</key>
	<string>Please allow access to your reminders</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Please allow access to your speech recognition</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
