<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Please allow access to your music</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Please allow access to your Bluetooth</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_example._tcp</string>
	</array>
	<key>NSCalendarsUsageDescription</key>
	<string>Please allow access to your calendars</string>
	<key>NSCameraUsageDescription</key>
	<string>Please allow access to your camera</string>
	<key>NSContactsUsageDescription</key>
	<string>Please allow access to your contacts</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Please allow access to your Face ID</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Please allow access to your health data (writing only)</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Please allow access to your health data (reading only)</string>
	<key>NSHomeKitUsageDescription</key>
	<string>Please allow access to your home</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Please allow access to your local network</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Please allow access to your location (always, for iOS 11 and newer)</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Please allow access to your location (always, for iOS 10)</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>Default</key>
		<string>Please allow temporary precise access to your location</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please allow access to your location (when in use only)</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Please allow access to your microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>Please allow access to your motion data</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please allow access to your photos (adding only)</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow access to your photos (full access)</string>
	<key>NSRemindersUsageDescription</key>
	<string>Please allow access to your reminders</string>
	<key>NSSiriUsageDescription</key>
	<string>Please allow access to your Siri</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Please allow access to your speech recognition</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Please allow access to your tracking</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
